body {
    background-color: #E5E5E5;
    min-height: 100vh;
    display: flex;
    /* align-items: start;
    justify-items: center; */
    margin: 0;
    font-family: sans-serif;
    flex-direction: column;
    align-items: center;
  }

  .homespan {
      /* display: grid;
      justify-items: left; */
      text-decoration: none;
      font-weight: bold;
      color: black;
      font-size: 1.2em;
      margin-top: 0;
      margin-left: 0;
      border-bottom: 3px;
      border-bottom-style: solid;
      border-bottom-color: #4F46E5;
      display: flex;
      padding: 16px;
  }

  .navigator {
      width: 100vw;
      background-color: white;
      display: flex;
      justify-content: space-between;
      height: 64px;
  }

  .task {
      display: flex;
      flex-direction: row;
      margin-bottom: 36px;
      padding: 0 18px;
  }

  img {
      display: grid;
      width: 50px;
      height: 50px;
      justify-self: right;
      border-radius: 50%;
      margin-top: 0;
      margin-right: 0;
      padding: 8px;
  }

  .shopping-item {
      background-color: white;
      padding: .6em 1.3em;
      font-size: 16px;
      border-radius: 16px;
      font-weight: bold;
      display: flex;
      margin-bottom: 16px;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      margin-right: 18px;
      margin-left: 18px;
  }

  .createbutton {
      background: #4F46E5;
      color: white;
      padding: .6em 1.3em;
      font-size: 16px;
      border-radius: .5em;
      font-weight: bold;
      display: inline-block;
      margin-left: 12px;
      border-color: #4F46E5;
  }

  #item {
    padding: .6em 1.3em;
    font-size: 1.4em;
    border-radius: .5em;
  }

  .h1todo {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    margin-top: 61px;
  }

  .remove-button {
      background: white;
      color: black;
      border-radius: 50%;
      font-size: 35px;
      border: none;
  }

  .checkbox {
      size: 10em;
      margin: 0;
  }

  .checkbox-container {
      display: flex;
      flex-direction: row;
      align-items: center;
  }

  .itemName {
      margin-left: 12px;
      color: #6B7280;
      font-weight: normal;
      font-size: 16px;
  }

  .input-container {
      background: white;
      border-radius: .5em;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .input-field {
      border: none;
      outline: none;
      width: 100%;
  }

  .input-button {
      margin-right: 32px;
      background: #4F46E5;
      border-radius: 50%;
      color: #4F46E5;
      border-color: #4F46E5;
  }

  .circle {
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background: #4F46E5;
      display: inline-block;
  }

  .circle.urgent {
      background: #FF2020;
  }

  .clicked {
      background: #FF2020;
      color: #FF2020;
      border-color: #FF2020;
  }

  input[type="checkbox"] {
      background: #4F46E5;
  }
  
  .container {
      display: inline-flex;
      align-items: center;
      cursor: pointer;
  }

  .checkbox {
      display: none;
  }

  .checkbox-box {
      width: 1.25em;
      height: 1.25em;
      border: 2px solid #cccccc;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      /* margin-right: 10px; */
      flex-shrink: 0;
      transition: background 0.15s, border-color 0.15s;
      background: #D1D5DB;
  }

  .checkbox:checked + .checkbox-box::after {
      content: '\2714';
      color: white;
  }

  .checkbox:checked + .checkbox-box {
      background: #4F46E5;
      border-color: #4F46E5;
  }

  .circle-container {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .list {
      padding: 0;
  }

  @media only screen and (min-width: 768px) {
      .homespan {
        /* margin-top: 16px; */
        margin-left: 5em;
      }
      img {
        /* margin-top: 8px; */
        margin-right: 5em;
      }
  }